* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat\ Regular.ttf");
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 35em;
    width: 30em;
    background-color: #fff;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em #DEF3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}

input:focus {
    outline-color: #26ABAB;
}

.loginBtn {
    width: 50%;
    height: 3em;
    background-color: #26ABAB;
    border: none;
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

.loginBtn:hover {
    transform: scale(1.05);
}

.textFP {
    position: relative;
    bottom: -0.1em;
    cursor: pointer;
}

.hide {
    position: absolute;
    transform: scale(0);
}

.login-popup {
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: #DEF3F3;
    color: #000;
    bottom: 0;
    transform: scale(1);
    transition: 0.5s;
}